* {
  box-sizing: border-box;
}


body {
  margin: 0;
  width: 100vw;
  height: 100vh;


  user-select: none;
  -webkit-app-region: drag;
  background-image: url('./assets/outer-frame-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.app {
  border-radius: 20px;
}

.title {

  display: flex;
  padding: 0.25rem 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  border-radius: 6.25rem;
  border: 1px solid #95A88D;
  background: #413C58;

  color: var(--white, #FFFFFF);
  font-family: "Pixelify Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

button,
input,
textarea,
select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}
