* {
  box-sizing: border-box;
}


body {
  margin: 0;
  width: 100vw;
  height: 100vh;


  user-select: none;
  -webkit-app-region: drag;
  background-image: url('./assets/outer-frame-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.app {

}

button,
input,
textarea,
select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}
